/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    position: relative;
}

nav {
    background-color: #282c34;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #61dafb;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, rgba(40, 44, 52, 0.8), rgba(40, 44, 52, 0.8)), url('/src/background.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    flex-direction: column; /* Cambia la dirección a columna para dispositivos pequeños */
}

.hero-content {
    max-width: 800px;
}

.hero-content img {
    width: 100%;
    max-width: 300px; /* Asegura que la imagen no sea más grande que 300px */
    border-radius: 15px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #61dafb;
    color: #282c34;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #282c34;
    color: #61dafb;
}

section {
    padding: 60px 20px;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1200px;
}

#about p, #services p, #contact p {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
    color: #282c34;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    background-color: #f1f1f1;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    flex: 1 1 calc(50% - 40px); /* Dos columnas en pantallas medianas */
    max-width: calc(50% - 40px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.service-icon {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #61dafb;
}

.service h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #333;
}

.service-icon:nth-child(5) {
    color: #ff6f61; /* Cambia el color del icono de Desarrollo Web si lo deseas */
}

#titulo {
    font-size: 3em; /* Ajusta según tu diseño */
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; /* Asegúrate de que sea la misma fuente */
    color: #ffffff; /* O el color que uses en tu h1 */
    display: inline;
}

#cursor {
    font-size: 3em; /* Mismo tamaño que el h1 */
    font-weight: bold; /* Mismo peso que el h1 */
    font-family: 'Montserrat', sans-serif; /* Mismo tipo de letra */
    color: #ffffff; /* Mismo color que el h1 */
    display: inline;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 10px 0 5px;
    width: 100%;
    font-weight: 600;
    color: #282c34;
}

form input, form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

form button {
    padding: 15px 30px;
    background-color: #61dafb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

form button:hover {
    background-color: #fff;
    color: #61dafb;
    border: 1px solid #61dafb;
}

footer {
    background-color: #282c34;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

footer p {
    margin: 0;
}

/* Media Queries para Responsividad */
@media (max-width: 1024px) {
    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1em;
    }

    .service {
        flex: 1 1 calc(100% - 40px); /* Una columna en pantallas medianas */
        max-width: calc(100% - 40px);
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 0.9em;
    }

    .btn {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    form input, form textarea {
        font-size: 0.9em;
        padding: 12px;
    }

    form button {
        padding: 12px 24px;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 0.8em;
    }

    .btn {
        padding: 6px 12px;
        font-size: 0.8em;
    }

    nav ul {
        padding: 10px;
    }

    form input, form textarea {
        font-size: 0.8em;
        padding: 10px;
    }

    form button {
        padding: 10px 20px;
        font-size: 0.8em;
    }

    .services-container {
        flex-direction: column;
    }

    .service {
        margin: 10px 0;
    }
}
